@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.carousel-inner {
  position: relative;
  height: auto;
}
#sharedContent {
  position: absolute;
  top: 0%;
  z-index: 10;
  width: 100%;
}
.curriculums #row1 {
  margin: 2%;
}
.curriculums #row1 {
  width: 100%;
  height: auto;
}
.co11 {
  width: 59%;
  height: auto;
}
#girlCoding {
  opacity: 0.9;
}
.carousel-inner .carousel-item img {
  max-width: 100%;
  height: 100%;
  overflow: auto;
}
.carousel slide {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  border: 10% solid white;
}
#facility_section {
  display: grid;
  grid-template-rows: repeat(6, 200px);
  grid-template-columns: repeat(3, 2fr);
  /* height: 140vh; */
  overflow: visible;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}
#first {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-image: url("images/Block-Based-Coding-for-Kids.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  padding: 4%;
  position: relative;
  z-index: 2;
  transition: all 0.5s ease-in-out 0s;
}
#first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top left, transparent 0%, black 170%);
  pointer-events: none;
  z-index: 0;
}
#second {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
  background-color: rgb(196, 72, 54);
  color: white;
  padding: 10%;
  position: relative;
  transition: all 0.5s ease-in-out 0s;
}
#third {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
  background-color: blueviolet;
  background-image: url("images/Conference-Speech.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  padding: 8%;
  position: relative;
  z-index: 2;
  transition: all 0.5s ease-in-out 0s;
}
#third::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top left, transparent 0%, black 500%);
  pointer-events: none;
  z-index: 0;
}
#fourth {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;
  background-color: rgb(193, 48, 26);
  color: white;
  padding: 10%;
  transition: all 0.5s ease-in-out 0.2s;
}
#fifth {
  grid-column: 3 / span 1;
  grid-row: 3 / span 2;

  background-image: url("images/PG-degree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  transition: all 0.5s ease-in-out 0s;
}
#fifth::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top left, transparent 0%, black 300%);
  pointer-events: none;
  z-index: 0;
}
#sixth {
  grid-column: 1 / span 1;
  grid-row: 5 / span 2;
  background-color: rgb(129, 24, 8);
  color: white;
  padding: 10%;
  transition: all 0.5s ease-in-out 0s;
}
#seventh {
  grid-column: 2 / span 2;
  grid-row: 5 / span 2;
  background-image: url("images/61fae3448eb989184f828084_5f57c46384cca65e79589acf_students1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out 0s;
}
#first:hover {
  box-shadow: 2px 2px 10px black;
}
#second:hover {
  box-shadow: 2px 2px 10px black;
}
#third:hover {
  box-shadow: 2px 2px 10px black;
}
#fourth:hover {
  box-shadow: 2px 2px 10px black;
}
#fifth:hover {
  box-shadow: 2px 2px 10px black;
}
#sixth:hover {
  box-shadow: 2px 2px 10px black;
}
#seventh:hover {
  box-shadow: 2px 2px 10px black;
}
@media (max-width: 720px) {
  #first {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
  }
  #second {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
  }
  #third {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
  }
  #fourth {
    grid-row: 4 / span 1;
    grid-column: 1 / span 3;
  }
  #fifth {
    grid-row: 5 / span 1;
    grid-column: 1 / span 3;
  }
  #sixth {
    grid-row: 6 / span 1;
    grid-column: 1 / span 3;
  }
  #seventh {
    grid-row: 7 / span 3;
  }
}
.table {
  background-color: rgba(128, 128, 128, 0.128);
  padding: 1%;
  border-radius: 2%;
  margin-bottom: 15px;
  position: relative;
}
.fa-solid {
  height: 25px;
  width: 25px;
  background-color: red;
  color: white;
  border-radius: 50% !important;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col {
  display: flex;
  align-items: center;
}

/* Adjust the margin if needed to separate the icon from the text */
.col i {
  margin-right: 8px; /* Adjust the margin as needed */
}
.row {
  border-radius: 2%;
}
@media (max-width: 990px) {
  #sharedContent {
    position: relative;
    background-color: #0b100b;
  }
}
#OppAndAd {
  background-color: rgb(253, 250, 250);
  position: relative;
  padding: 0%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 3%;
}
#graduation {
  height: auto;
  max-width: 90%;
}
#AdAndOpp {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  #AdAndOpp {
    display: block;
  }
  #graduation {
    height: auto;
    max-width: 100%;
    padding: 2%;
  }
  #txtAdAndOpp {
    margin-top: 10px;
    padding: 2%;
  }
}
.body1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
}
.card {
  border-radius: 25px 25px 0 0 !important;
  background-color: #fff;
  overflow: hidden;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0px 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}
.overlay::after {
  border-radius: 0px 25px 0px 0px;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #fff;
  padding: 3px;
  border-radius: 50%;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
#piku {
  object-fit: cover;
}
.name {
  font-size: 18px;
  font-weight: bolder;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
  font-weight: 500;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #265d26;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
}
footer {
  background-color: #000000;
  width: 100%;
  height: auto;
  padding-bottom: 6%;
}
.footicons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ficon {
  width: 25%;
}
.foot-item {
  list-style-type: none;
}
.footer-fav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white !important;
  column-gap: 10px;
}
.foot-link {
  color: white !important;
}
@media (max-width: 1000px) {
  .ficon {
    width: 50%;
  }
  .footer-fav {
    column-gap: 10px;
  }
}
@media (max-width: 500px) {
  .ficon {
    width: 75%;
  }
  .footer-fav {
    font-size: xx-small;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -10px;
  }
}

@media (max-width: 300px) {
  .ficon {
    width: 75%;
  }
  .footer-fav {
    font-size: xx-small;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -10px;
  }
}
.footline {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 1%;
  font-size: small;
  width: 40%;
  height: 2%;
}
