@font-face {
  font-family: poppins-regular;
  src: url(/font-poppins/Poppins-Regular.ttf);
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-image: url(/features/assests/bg.avif);
  background-repeat: repeat-y;
  background-size: cover;
  font-family: poppins-regular;
}
.display-5{
  color: white;
}
.flip{
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 18%;
  padding: 1%;
  color: black;
  box-shadow: 10px 10px 5px rgb(84, 88, 90);

}
.flip:hover{
  color:white;
  background-color: dodgerblue;
  
}
.panel,	.active	{
  text-align: left;
  background-color:rgba(255, 255, 255, 0.7);
  border-radius: 3%;
  }
  .panel {
  padding: 2%;
  display: none;
  }
  
  .p1{
  float: left;
   

  }
  .p2{
     

   float: right;
   color: black;
   border: 2px solid rgb(224, 63, 15);
   border-radius: 10%;
   text-align: center;
  
  }

  .contact_us{
    display: inline-block;
    height: 40px;
    width: 200px;
    background-color: rgb(255, 51, 0);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: poppins-regular;

  }
  .contact_us:hover
{
  background-color: rgb(43, 67, 226);
  box-shadow: 10px 10px 5px rgb(84, 88, 90);
  transition: 300ms;
}
.footer{
  color: white;
  font-size: larger;
}