
@font-face {
  font-family: poppins-regular;
  src: url(/font-poppins/Poppins-Regular.ttf);
}
      .container-fluid {
        background-image: url("bg-img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-top: 18% solid white;
        height: 100%;
        width: 100%;
      }
    .nav-item{
      font-size: larger;
    }
      .block {
        display: inline-block;
        width: 80%;
        height: 100%;
        border: none;
        background-color: #04aa6d;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: left;
        box-shadow: 10px 10px 5px rgb(84, 88, 90);
        font-family: poppins-regular;
      }
      span{
        background-color: rgb(255, 51, 0);
        display:inline-block;
        width: 19%;
        padding: 14px 28px;
        font-size: larger;
        padding:1%;
        border-radius: 5%;
         box-shadow: 10px 10px 5px rgb(84, 88, 90);
         text-align: center;
      }
      ul.dropdown-menu{
        background-color:white;
        padding: 3%;
        line-height: 27px;
        width: 100%;
        background: rgba(218, 218, 218, 0.9);
        
      }
      .footer{
       font-family: poppins-regular;
       font-weight: 500;
       font-size: 30px;
       color: black;
       text-align: center;
       background-color:white;
       background: rgba(218, 218, 218, 0.9);
       display: inline-block;
       border-radius: 5px;
       box-shadow: 10px 10px 5px rgb(84, 88, 90);

      }
      .contact_us{
        display: inline-block;
        height: 40px;
        width: 200px;
        background-color: rgb(255, 51, 0);
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        color: white;
        box-shadow: 10px 10px 5px rgb(84, 88, 90);
        font-family: poppins-regular;

      }
      li{
        font-weight: bold;
      }
     
   